---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Importing modules

In [1]:
import pandas as pd

### Preparing the datasets

In [10]:
# import dataset
# exclude the header (17) and footer (245 to 283) information from the datafile
# header = n_start - 1 = 17 - 1 = 16
# skipfooter = 283 - 245 = 38
indicators = pd.read_excel('Energy Indicators.xls', header=16, skipfooter=38)

# Delete extra column
#indicators.drop([0], axis=1, inplace=True)

indicators.shape

(228, 3)

In [22]:
indicators.drop('NaN', axis=1, inplace=True)
indicators.drop('NaN', axis=1, inplace=True)

 index_col=0
indicators.head()

                                        teste       teste  \
NaN NaN            NaN             Petajoules  Gigajoules
    Afghanistan    Afghanistan            321          10
    Albania        Albania                102          35
    Algeria        Algeria               1959          51
    American Samoa American Samoa         ...         ...

                                  Renewable Electricity Production
NaN NaN            NaN                                           %
    Afghanistan    Afghanistan                             78.6693
    Albania        Albania                                     100
    Algeria        Algeria                                 0.55101
    American Samoa American Samoa                         0.641026

In [16]:
indicators.rename(columns={indicators.columns[0]:'teste'}, inplace=True)
indicators.head()

                                        teste       teste  \
NaN NaN            NaN             Petajoules  Gigajoules
    Afghanistan    Afghanistan            321          10
    Albania        Albania                102          35
    Algeria        Algeria               1959          51
    American Samoa American Samoa         ...         ...

                                  Renewable Electricity Production
NaN NaN            NaN                                           %
    Afghanistan    Afghanistan                             78.6693
    Albania        Albania                                     100
    Algeria        Algeria                                 0.55101
    American Samoa American Samoa                         0.641026

In [ ]:
indicators.rename(columns={indicators.columns[0]:'teste'}, inplace=True)

In [24]:
df = pd.read_excel('Energy Indicators.xls')
# Delete extra columns
df.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)

df = df[16:245]
df

,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
16,Afghanistan,321,10,78.6693
17,Albania,102,35,100
18,Algeria,1959,51,0.55101
19,American Samoa,...,...,0.641026
20,Andorra,9,121,88.6957
21,Angola,642,27,70.9091
22,Anguilla,2,136,0
23,Antigua and Barbuda,8,84,0
24,Argentina,3378,79,24.0645
25,Armenia,143,48,28.2361
26,Aruba,12,120,14.8707
27,Australia1,5386,231,11.8108
28,Austria,1391,164,72.4528
29,Azerbaijan,567,60,6.38434
30,Bahamas,45,118,0
31,Bahrain,574,425,0
32,Bangladesh,1625,10,1.96633
33,Barbados,19,69,0
34,Belarus,1142,120,0.463389
35,Belgium,2338,210,9.95974
36,Belize,13,39,64.69
37,Benin,170,16,0
38,Bermuda,6,88,0
39,Bhutan,63,83,100
40,Bolivia (Plurinational State of),336,32,31.4771
41,"Bonaire, Sint Eustatius and Saba",5,213,0
42,Bosnia and Herzegovina,266,70,41.4647
43,Botswana,86,39,0.131406
44,Brazil,12149,59,69.648
45,British Virgin Islands,2,85,0
...,...,...,...,...
215,Tajikistan,106,13,99.7429
216,Thailand,5336,79,4.30519
217,The former Yugoslav Republic of Macedonia,117,56,26.1405
218,Timor-Leste,7,6,0
219,Togo,134,19,80.1802
220,Tonga,3,28,0
221,Trinidad and Tobago,824,611,0
222,Tunisia,430,39,3.49255
223,Turkey,4897,64,28.5367
224,Turkmenistan,1102,210,0
225,Turks and Caicos Islands,3,85,0
226,Tuvalu,...,...,0
227,Uganda,452,12,68.0182
228,Ukraine18,4844,107,8.06731
229,United Arab Emirates,2710,300,0
230,United Kingdom of Great Britain and Northern I...,7920,124,10.6005
231,United Republic of Tanzania,994,20,31.0728
232,United States of America20,90838,286,11.571
233,United States Virgin Islands,...,...,0
234,Uruguay,196,58,71.605
235,Uzbekistan,1798,62,21.3284
236,Vanuatu,3,10,14.7059
237,Venezuela (Bolivarian Republic of),2871,95,67.8345
238,Viet Nam,2554,28,45.3215
239,Wallis and Futuna Islands,0,26,0
240,Yemen,344,13,0
241,Zambia,400,26,99.7147
242,Zimbabwe,480,32,52.5361
243,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN

In [5]:
indicators.head()

                                  Energy Supply Energy Supply per capita  \
NaN NaN            NaN               Petajoules               Gigajoules
    Afghanistan    Afghanistan              321                       10
    Albania        Albania                  102                       35
    Algeria        Algeria                 1959                       51
    American Samoa American Samoa           ...                      ...

                                  Renewable Electricity Production
NaN NaN            NaN                                           %
    Afghanistan    Afghanistan                             78.6693
    Albania        Albania                                     100
    Algeria        Algeria                                 0.55101
    American Samoa American Samoa                         0.641026

In [6]:
# Delete extra columns
indicators.drop(['Unnamed: 0'], axis=1, inplace=True)

ValueError: labels ['Unnamed: 0'] not contained in axis

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [ ]:
def answer_one():
    return "ANSWER"

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    return "ANSWER"

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
    Top15 = answer_one()
    return "ANSWER"

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    return "ANSWER"

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
    Top15 = answer_one()
    return "ANSWER"

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    Top15 = answer_one()
    return "ANSWER"

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!